// Basic Color
$white: #FFFFFF;
$black: #202020;
$text: #202020;
$text-grey: #959595;
$bg-dark:rgb(83, 83, 83);
$bg-grey2:rgb(116, 116, 116);
$light: #fefefe;
$green: #00ADB5;
$red: #ff6b6b;
$yellow: #ffe66d;
$dark: #1a535c;
$border: #d3d3d3;
$grey-light: #f3f3f3;
$pink: #F29191;
$pink-dark: #f38080;
$pink-light: #fdc9c9;
$pink-light-2: #FFF3F3;
$blue-light: #D1D9D9;
$grey-light-2: #f7f2f2;